* {
  background-color: darkslategrey !important;
  color: white;
  font-weight: bold;
}
.white {
  color: white !important;
}
.petimage {
  width: 350px;
  height: 300px;
}
.nav-item {
  padding: 1vw;
}