$first: #dff6e9;
$second: #accbbb;
$third: #0d34bd;
$forth: #d25500;
$fifth: #44707c;
$text: #e1e303;

body {
  background-color: $second;
}
.white {
  color: white !important;
}

.petimage {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.navbar {
  border: solid 2px $forth;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 105%;
  z-index:  95;
  background-color: $third;
  color: $text;
}

.nav-text {
  color: $text;
  //-webkit-text-stroke: 1.7px $fifth;
  text-align: center;
  text-decoration: none;
  font-size: 3vh;
 
  font-family: 'playball', cursive;
}
.nav-item {
  border: 2px solid $third;
  padding: 5px;
  
}

.header {
  border: solid 2px $forth;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $third;
  margin-bottom: 10vh;
  z-index: -1;
  font-weight: bolder;
  font-size: 5vh;
  color: $text;
  font-family: 'playball';
}

.text-right {
  text-align: right;
}
.login {
  margin-top: 15vh;
  color: $fifth;
  font-weight: bolder;
}
.submitbox {
  text-align: center;
}
.submitpage {
  margin-top: 10vh;
  margin-bottom: 25vh;
}
.submitInputs {
  font-size: 200%;
}
.submittext {
  font-weight: bolder;
  font-family: 'playball';
  font-size: 4vh;
}


// gallery

.container {
  margin-bottom: 25vh;
}
.gallery {

 
  padding: 0 1rem 2rem;
  margin-top: 2vh;
  /* Compensate for excess margin on outer gallery flex items */
 
}
.gallery-text {
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: bold;
 padding: .5rem;
}
.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  background-color: $second;
  border: solid 2.3px $third;
  margin-top: 5rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
$bounce-color: $forth;
.gallery-image {
  border-radius: 70%;
  object-fit:cover;
     width:300px;
     height:300px;
  margin-bottom: 1em;
  background-color: $forth ;
				box-shadow: 0 0 0 9px $forth ;
        &:hover {
				
					animation:bounceOut .4s linear;
				}
}
@keyframes bounceOut {
  0%{ box-shadow: 0 0 0 6px $forth; opacity:1;}
  25%{ box-shadow: 0 0 0 2px $forth; opacity:1;}
  50%{ box-shadow: 0 0 0 9px $forth; opacity:1; }
  75%{ box-shadow: 0 0 0 4px $forth; opacity:1;}
  100%{ box-shadow: 0 0 0 6px $forth; opacity:1;}
}


// carosuel 
@import "~react-image-gallery/styles/scss/image-gallery.scss";